---
layout: archive
---

{{ content }}

<!-- page.category 구한다. -->
{% assign entries_layout = page.entries_layout | default: 'list' %}
{% assign page_category = page.category | default: page.title %}

<section id="{{ 'bbccddeeffgg' | slugify | downcase }}" class="taxonomy__section">
  <div class="entries-{{ entries_layout }}">
    {% for post in site.categories[page_category] %}
      {% include archive-single.html type=entries_layout %}
    {% endfor %}
  </div>
  <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }}
    &uarr;</a>
</section>